.user__info {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  /* position: relative; */

  overflow-wrap: break-word;
  hyphens: manual;
}